<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coypu" version="2.10.0" targetFramework="net46" />
  <package id="NUnit" version="3.6.1" targetFramework="net46" />
  <package id="NUnit3TestAdapter" version="3.7.0" targetFramework="net46" />
  <package id="Selenium.Chrome.WebDriver" version="2.29" targetFramework="net46" />
  <package id="Selenium.Firefox.WebDriver" version="0.16.1" targetFramework="net46" />
  <package id="Selenium.InternetExplorer.WebDriver" version="3.4" targetFramework="net46" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net46" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net46" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.29.0" targetFramework="net46" />
  <package id="Selenium.WebDriver.IEDriver" version="3.4.0" targetFramework="net46" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net46" />
  <package id="SpecRun.Runner" version="1.5.2" targetFramework="net46" />
  <package id="WebDriverChromeDriver" version="2.10" targetFramework="net46" />
</packages>